<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.anchorapp.bilkentacm">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_phone_android_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_phone_android_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity android:name=".Signin_Signup.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".Signin_Signup.Register" />
        <activity android:name=".activities.AddItem"/>
        <activity android:name=".activities.ItemDetail" />
        <activity android:name=".activities.Message" />
        <activity android:name=".Signin_Signup.Login" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.anchorapp.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>